# Unity
/Projects/LGen/Library/
/Projects/LGen/Temp/
/Projects/LGen/Obj/
/Projects/LGen/Logs/
/Projects/LGen/Build/
/Projects/LGen/Builds/
/Projects/LGen/Assets/Allegorithmic*
/Projects/LGen/Assets/AssetStoreTools*
/Projects/LGen/Assets/Unity*
*.pidb.meta
sysinfo.txt

# Visual Studio
ExportedObj/
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd

# Blender
*.blend1

# Substance Designer
.autosave/
*.resources/

# Builds
/Builds/

# Large files
*.wav
*.au
